# Python cache
*.py[cod]

# Egg metadata
*.egg-info/

# Virtual environment
.venv/

# YOLO downloads
*.pt

# Outputs
outputs/*.mp4

# CCTV footage
CCTV Footage/

# Python build cache
.pytest_cache/
.mypy_cache/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/